<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Start Code Generation"
            visible="true"
            id="crossing.e1.configurator.actionSet">
         <menu
               label="CogniCryptMenu"
               id="sampleMenu">
            <separator
                  name="CognicryptGroup">
            </separator>
         </menu>
         <action
               class="crossing.e1.configurator.actions.WizardAction"
               icon="icons/cognicrypt.png"
               id="crossing.e1.configurator.actions.WizardAction"
               label="&amp;Start Code Generation"
               menubarPath="CogniCryptMenu/CogniCryptGroup"
               toolbarPath="CogniCryptGroup"
               tooltip="Generate Code For Cryptographic Task">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="code-clafer_configurator.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="icons/cognicrypt.png"
               id="code-clafer_configurator.menu1"
               label="CogniCrypt">
            <separator
                  name="code-clafer_configurator.separator1">
            </separator>
         </menu>
         <action
               class="crossing.e1.configurator.actions.WizardAction"
               icon="icons/cognicrypt.png"
               id="code-clafer_configurator.action1"
               label="CogniCrypt">
         </action>
      </objectContribution>
   </extension>

</plugin>
